{% extends 'base.html' %}

{% block titulo %}
Produtos
{% endblock %}

{% block conteudo %}
        <script>alert('Redirecionamento: Listagem de Produtos')</script>
        <h1>Lista de produtos (geral)</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mesa de Jantar</td>
                    <td>R$ 3.200</td>
                </tr>
                <tr>
                    <td>Iphone</td>
                    <td>R$ 1.200</td>
                </tr>
            </tbody>
        </table>
{% endblock %}

{% block lateral %}
        <h2>Categorias</h2>
        <ul>
            <li>Ofertas do dia</li>
            <li>Celulares</li>
            <li>Móveis</li>
            <li>Eletrodoméstico</li>
            <li>TV e Vídeo</li>
        </ul>
{% endblock %}